In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
import warnings
warnings.filterwarnings("ignore")


from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
import xgboost as xgb

In [9]:
data = pd.read_csv(r"C:\Users\JKR\Documents\Project-csv\cars_dataset.csv")
data.sample(5)

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,Make
30646,Kuga,2019,26000,Semi-Auto,3350,Diesel,145.0,42.2,2.0,Ford
22582,Focus,2017,11880,Manual,2435,Petrol,145.0,61.4,1.0,Ford
64953,Octavia,2017,14491,Semi-Auto,36982,Diesel,125.0,56.5,2.0,skoda
45031,Passat,2015,12690,Semi-Auto,16150,Diesel,30.0,62.8,2.0,vw
6405,Q5,2019,31250,Automatic,5000,Diesel,145.0,39.2,2.0,audi

In [8]:
data.shape

(72435, 10)